<nav class="navbar navbar-expand-lg navbar-castle">
    <ul class="nav justify-content-center">
        <div *ngIf="!isCliente()">
            <li class="nav-item">
                <a class="nav-link texto-blanco" routerLink="/home" routerLinkActive="active">Home</a>
            </li>
        </div>
        <div *ngIf="isCliente()">
            <li class="nav-item">
                <a class="nav-link texto-blanco" routerLink="/home/dashboard" routerLinkActive="active">Home</a>
            </li>
        </div>

        <div *ngIf="isCliente()">
                <li class="nav-item">
                    <a class="nav-link texto-blanco" routerLink="/mapa" routerLinkActive="active">Tracking pedido</a>
                </li>
            </div>

        <div *ngIf="isAdmin()">
            <li class="nav-item">
                <a class="nav-link texto-blanco" (click)='getId()' routerLink="/books/list"
                    routerLinkActive="active">Libros</a>
            </li>
        </div>

        <div *ngIf="isAdmin()">
            <li class="nav-item">
                <a class="nav-link texto-blanco" (click)='getId()' routerLink="/editorials/list"
                    routerLinkActive="active">Editoriales</a>
            </li>
        </div>

        <div *ngIf="isAdmin()">
            <li class="nav-item">
                <a class="nav-link texto-blanco" (click)='getId()' routerLink="/authors/list"
                    routerLinkActive="active">Autores</a>
            </li>
        </div>

    </ul>

    <div class="navbar-collapse collapse order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">

            <div *ngIf=" !isCliente() || isAdmin()">
                <li class="nav-item">
                    <a class="nav-link texto-blanco" routerLink="/auth/login" routerLinkActive="active">Login</a>
                </li>
            </div>

            <li class="nav-item">
                <a class="nav-link texto-blanco" routerLink="/auth/sign-up" routerLinkActive="active">Sign Up</a>
            </li>
        </ul>

        <div *ngIf="isCliente() || isAdmin()">
            <div class="dropdown pmd-dropdown pmd-user-info">
                <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center"
                    data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
                    <img class="mr-2"
                        src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/5f/User_with_smile.svg/600px-User_with_smile.svg.png"
                        width="40" height="40" alt="avatar">
                    <div class="media-body texto-blanco">
                        User
                    </div>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <a class="dropdown-item" routerLink="/cliente/{{getId()}}/edit">Editar perfil</a>
                    <a class="dropdown-item" (click)="logout()">Logout</a>
                    <a class="dropdown-item" routerLink="/cliente/{{getId()}}">Ver perfil</a>
                </ul>
            </div>
        </div>

        <div *ngIf="isCliente()">
            <div class="dropdown pmd-dropdown pmd-user-info">

                <a class="nav-link texto-blanco" routerLink="/carrito" routerLinkActive="active">
                    <img class="mr-2" src="http://prints.ultracoloringpages.com/0f4ed6e04f98914d5d552b61c2266d26.png"
                        width="40" height="40" alt="avatar">
                    <div class="media-body">
                        Ver Carro
                    </div>
                </a>
            </div>
        </div>
    </div>
</nav>
<!-- Header -->
<div>
    <header class="masthead">
    </header>
</div>

<router-outlet></router-outlet>
<div class="list">
</div>