<!-- Header -->
<div>
  <header class="masthead">
  </header>
</div>

<h1 class='color-cafe'>
  Best Seller!
</h1>
<div class="scrolling-wrapper">

  <div class="card mr-5" style="width: 10rem;" *ngFor="let e of books">
    <img class="card-img-top" src={{e.image}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{e.name}}</h5>
      <p class="card-text">{{e.description}}</p>
      <a href="#" class="btn mr-5 fondo-cafe texto-blanco">Ver Mas</a>
    </div>
  </div>


</div>

<h1 class='color-cafe'>
  Novedades!
</h1>
<div class="scrolling-wrapper">
  <div class="card mr-5" style="width: 10rem;" *ngFor="let e of novedades">
    <img class="card-img-top" src={{e.image}} alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{e.name}}</h5>
      <p class="card-text">{{e.description}}</p>
      <a href="#" class="btn mr-5 fondo-cafe texto-blanco">Ver Mas</a>
    </div>
  </div>
</div>

<h1 class='color-cafe'>
    promociones!
  </h1>
  <div class="scrolling-wrapper">
    <div class="card mr-5" style="width: 10rem;" *ngFor="let e of descuentos">
      <img class="card-img-top" src={{e.image}} alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{e.name}}</h5>
        <p class="card-text">{{e.description}}</p>
        <a href="#" class="btn mr-5 fondo-cafe texto-blanco">Ver Mas</a>
      </div>
    </div>
  </div>

<router-outlet></router-outlet>